html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 10px; /* Height of the footer element */
}

.glyphicon {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}

#header {
	position: relative;
	height: 140px;
	background: linear-gradient(to bottom, rgba(79, 133, 187, 1) 0%,
		rgba(79, 133, 187, 1) 100%); /* W3C */
	border: 1px solid #676767;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#header img {
	padding-left: 60px;
	padding-top: 15px;
	float: left;
}

#header  h1 {
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: white;
	padding-top: 25px;
	padding-left: 180px;
	width: 550px;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 25px;
	padding-right: 100px;
}

.menu-opcoes a {
	color: white;
}

.menu-opcoes ul {
	font-size: 15px;
	color: white;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 30px;
	font-weight: bold;
}

.perfil {
	position: absolute;
	padding-right: 150px;
	padding-top: 20px;
	top: 0;
	right: 0;
	color: white;
}

.status {
	position: absolute;
	padding-right: 115px;
	padding-top: 20px;
	top: 0;
	right: 0;
	color: white;
}

.role {
	position: absolute;
	padding-right: 180px;
	padding-top: 35px;
	top: 0;
	right: 0;
	color: white;
}

.perfil a, .status a {
	color: white;
}

.perfil a:before {
	color: white;
}

#rodape {
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(79, 133, 187, 1) 0%,
		rgba(79, 133, 187, 1) 100%); /* W3C */
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
}

#login {
	position: absolute;
	top: 50%;
	margin-top: -95px;
}

#menu-lateral {
	width: 224px;
}

