<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="teste">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/teste</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
	
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="com.sistema.usuario.Usuario" />
		<mapping class="com.sistema.usuario.orientador.Orientador" />
		<mapping class="com.sistema.usuario.aluno.Aluno" />
		<mapping class="com.sistema.usuario.coordenador.Coordenador" />
		<mapping class="com.sistema.proposta.Proposta" />
		<mapping class="com.sistema.periodo.Periodo" />
		<mapping class="com.sistema.atividade.Atividade" />
		<mapping class="com.sistema.mensagem.Mensagem" />
		<mapping class="com.sistema.reuniao.Reuniao" />
		<mapping class="com.sistema.quadro.Quadro" />
		<mapping class="com.sistema.banca.Banca" />
		<mapping class="com.sistema.orientacao.Orientacao" />
		<mapping class="com.sistema.manual.Manual" />
		<mapping class="com.sistema.imagem.Imagem" />
		<mapping class="com.sistema.disciplina.Disciplina"/>
		<mapping class="com.sistema.coordenacao.Coordenacao"/>
		<mapping class="com.sistema.curso.Curso"/>
	</session-factory>
</hibernate-configuration>
